@page
@model PlayingForKeepers.Pages.Leagues.AddLeagueModel
@{
    ViewData["Title"] = "CreateLeague";
}

@* Add new league HTML *@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="AddLeague" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AddLeague.LeagueName" class="control-label"></label>
                <input asp-for="AddLeague.LeagueName" class="form-control" />
                <span asp-validation-for="AddLeague.LeagueName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddLeague.LeagueTeamsPossible" class="control-label"></label>
                <input asp-for="AddLeague.LeagueTeamsPossible" class="form-control" />
                <span asp-validation-for="AddLeague.LeagueTeamsPossible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="CreateLeague" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="LeaguesIndex">View Leagues</a>
</div>